In [1]:
%matplotlib inline
import matplotlib as plt
import pandas as pd

In [2]:
city_data_load = "Resources/city_data.csv"
ride_data_load = "Resources/ride_data.csv"

In [15]:
city_data_df = pd.read_csv(city_data_load)
#city_data_df.head()

In [5]:
ride_data_df = pd.read_csv(ride_data_load)

In [8]:
#ride_data_df.head()

In [11]:
city_data_df.count()

city            0
driver_count    0
type            0
dtype: int64

In [10]:
ride_data_df.count()

city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64

In [12]:
city_data_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [13]:
city_data_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [16]:
city_data_df['type'].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [17]:
sum(city_data_df['type']=='Urban')

66

In [19]:
sum(city_data_df['type']=='Suburban')

36

In [20]:
sum(city_data_df['type']=='Rural')

18

In [21]:
ride_data_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [22]:
ride_data_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [31]:
pyber_data_df=pd.merge(ride_data_df,city_data_df,how="left",on=["city","city"])
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban